@font-face {
  font-family: 'Graphik LCG';
  src:
    local('Graphik LCG Regular'),
    url('font/GraphikLCG-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik LCG';
  src:
    local('Graphik LCG Medium'),
    url('font/GraphikLCG-Medium.woff2') format('woff2');
  font-weight: 500;
}

:root {
  --background-color: #ffffff;
  --background-color-soft: #cdcecf;
  --background-color-dark: #101112;

  --text-color: #080808;
  --text-color-soft: #b1b1b6;
  --text-color-light: #e1e5e9;

  --font-primary: 'General Sans', sans-serif;
  --font-secondary: 'Graphik LCG', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  cursor: pointer;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-primary), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
