@import './base.css';

button {
  color: inherit;
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
a.anchor {
  display: block;
  position: relative;
  top: -81px;
  visibility: hidden;
}

.row {
  margin-inline: auto;
  max-width: var(--max-content-width);
  padding-inline: 20px;
}

@media (width >= 1024px) {
  .mobile-only {
    display: none !important;
  }
}

@media (width < 1024px) {
  .desktop-only {
    display: none !important;
  }
}
